.card{

    background: radial-gradient(circle, rgba(255,255,255,1) 2%, rgba(200,200,200,1) 100%);
    
}

.icono{
    padding-top: 2em;
    padding-left: 2em;
    display: flex;
    align-items: baseline;
}

.info{
    padding-left: 2em;
    display: flex;
    align-items: baseline;
}

.cometa{
    color: radial-gradient(circle, rgba(42,26,14,1) 28%, rgba(255,94,0,1) 61%);
    /* color: rgb(83, 42, 18); */
    font-size: 6rem;
}

.danger{
    color: rgb(156, 13, 44);
    font-size: 6rem;
}

.astronauta{
    color: rgb(233, 233, 233);
    font-size: 3rem;
}

.setFav{
    color: rgb(0, 0, 0);
}

.etiquetas{
    color: crimson;
}

.info{
    padding-left: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.spaceBwt{
    padding-top: 2rem;
}

.padingLeft{
    margin-top: 0.8em;
    margin-left: 0.3em;
    padding-left: 0.8em
    
}
